<html>
    <head>
      <title>Github Issue Count</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <div class="ui container">
        <div class="ui basic segment"></div>
        <h1 class="ui header"><a href="/index">Home</a></h1>
        <hr>
        <div class="ui basic segment"></div>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>